* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Circe";
    src: url(Fonts/Circe-Regular.woff) format(woff);
}

@font-face {
    font-family: "Plumb";
    src: url(Fonts/PlumbMediumC.woff2) format(woff2);
}

.MainPart {
    font-size: 0;
    width: 530px;
    color: #FAF3E3;
}

.Zaqolovok {
    font-size: 30px;
    font-family: "Plumb";
    margin-bottom: 30px;
    color: #2E373B;
}

.news-item {
    height: 120px;
    margin-bottom: 30px;
}


img {
    width: 160px;
    display: inline-block;
    margin-right: 30px;
}

.content {
    width: 340px;
    display: inline-block;
    height: 120px;
    vertical-align: top;
    padding: 20px 0 20px 0;
}

.date {
    font-family: "Circe";
    font-size: 16px;
    color: #F6404F;
    margin-top: 0;
    margin-bottom: 10px;
}

.desc {
    font-family: "Plumb";
    font-size: 21px;
    margin: 0;
    color: #2E373B;
    font-weight: 500;
}
