* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Futura-500";
    src: url(FuturaPT-Medium.woff2);
}

@font-face {
    font-family: "Futura-700";
    src: url(FuturaPT-Bold.woff2);
}

.menu-wrapper {
    background-color: #4C3D74;
}

.menu-inner {
    width: 1165px;
    height: 1151px;
    margin: 0 auto;
}

.menu-title {
    font-family: "Futura-700";
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 46px;
}

.menu-elements {
    display: flex;
}

.menu-element {
    border: 3px solid #4C3D74;
    border-radius: 25px;
    background-color: #F2EEF7;
    padding: 57px 34px;
    margin-right: 35px;
    margin-bottom: 95px;
    position: relative;
}

.menu-element-title {
    font-family: "Futura-700";
    font-size: 16px;
    color: #4C3D74;
    margin-bottom: 15px;
}

.menu-sub-element {
    display: flex;
    margin-bottom: 8px;
}

.menu-sub-element:last-child {
    margin-bottom: 18px;
}

.menu-sub-element-exist {
    font-family: "Futura-700";
    font-size: 25px;
    color: #4C3D74;
    margin-right: 8px;
}

.menu-sub-element-desc {
    font-family: "Futura-500";
    font-size: 16px;
    color: #4C3D74;
    margin: 0 auto;
    margin: 0;
}

.menu-time {
    font-family: "Futura-700";
    font-size: 16px;
    color: #4C3D74;
    margin-bottom: 8px;
}

.menu-price {
    display: flex;
    justify-content: space-between;
}

.menu-price-bonus {
    font-family: "Futura-500";
    font-size: 12px;
    color: #4C3D74;
}

.menu-price-bonus span {
    font-family: "Futura-700";
    font-size: 12px;
    color: #4C3D74;
}

.menu-price-element {
    font-family: "Futura-700";
    font-size: 16px;
    color: #4C3D74;
}

.menu-btn {
    display: inline-block;
    font-family: "Futura-700";
    font-size: 16px;
    color: #FFFFFF;
    background-color: #A387C4;
    padding: 20px 74px;
    border-radius: 50px;
    position: absolute;
    bottom: -30px;
    left: 55px;
}

.menu-corner-image-1 {
    position: absolute;
    top: -40px;
    right: -40px;
}

.menu-corner-image-2 {
    position: absolute;
    top: -50px;
    right: -40px;
}

.menu-corner-image-3 {
    position: absolute;
    top: -52px;
    right: -60px;
}

.menu-info {
    display: flex;
}

.menu-info img {
    margin-right: 30px;
}

.menu-info-desc {
    font-family: "Futura-700";
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 40px;
    width: 573px;
}

.menu-info-btn {
    font-family: "Futura-700";
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px 43px;
    border: 4px solid #A387C4;
    border-radius: 50px;
    margin-right: 44px;
}

.menu-info-link {
    font-family: "Futura-700";
    font-size: 16px;
    color: #FFFFFF;
    height: 24px;
    position: relative;
    top: 20px;
}