* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash-Display-400";
  src: url(Fonts/ClashDisplay-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-400";
  src: url(Fonts/Satoshi-Regular.woff2);
}

.top-menu-wrapper {
  width: 1386px;
  margin: 0 auto;
  margin-bottom: 60px;
  .top-menu-introducion {
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;
    border-bottom: 1px solid #0000001a;

    a {
      padding: 7px 0;
    }

    .top-menu-introducion-logo {
      font-family: "Clash-Display-400";
      color: #22202e;
      font-size: 24px;
      line-height: 29.52px;
    }

    .top-menu-introducion-right-side {
      a {
        margin-right: 17px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .top-menu-navigation {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    .top-menu-navigation-elements {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      .top-menu-navigation-element {
        margin-right: 44px;
        a {
          font-family: "Satoshi-400";
          color: #726e8d;
          font-size: 16px;
          line-height: 21.6px;
          text-decoration: none;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.recomendation-menu-wrapper {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 120px;

  .recomendation-menu-info {
    background-color: #2a254b;
    padding: 60px;
    width: 760px;

    .recomendation-menu-name-button {
      margin-bottom: 196px;

      .recomendation-menu-name {
        max-width: 513px;
        margin-bottom: 41px;
        font-family: "Clash-Display-400";
        font-size: 32px;
        line-height: 44.8px;
        color: white;
      }

      .recomendation-menu-button {
        background-color: #f9f9f926;
        color: white;
        padding: 16px 32px;
        border: none;
        font-family: "Satoshi-400";
        font-size: 16px;
        line-height: 24px;
      }
    }

    .recomendation-menu-description {
      font-family: "Satoshi-400";
      font-size: 18px;
      line-height: 27px;
      color: white;
      max-width: 602px;
    }
  }
}

.company-offers-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 166px;

  .company-offers-menu-title {
    text-align: center;
    font-family: "Clash-Display-400";
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 51px;
  }

  .company-offers-menu-elements {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    .company-offers-menu-element {
      margin-right: 58px;

      &:last-child {
        margin-right: 0;
      }

      img {
        margin-bottom: 16px;
      }

      .company-offers-menu-element-title {
        margin-bottom: 8px;
        font-family: "Clash-Display-400";
        font-size: 20px;
        line-height: 28px;
        color: #2a254b;
      }

      .company-offers-menu-element-desc {
        font-family: "Satoshi-400";
        font-size: 16px;
        line-height: 24px;
        color: #2a254b;
      }
    }
  }
}

.ceramics-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;

  .ceramics-menu-title {
    margin-bottom: 33px;
    font-family: "Clash-Display-400";
    font-size: 32px;
    line-height: 39.36px;
    color: #2a254b;
  }

  .ceramics-menu-elements {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 35px;

    .ceramics-menu-element {
      margin-right: 20px;

      img {
        margin-bottom: 24px;
      }

      .ceramics-menu-element-name {
        margin-bottom: 8px;
        font-family: "Clash-Display-400";
        font-size: 20px;
        line-height: 28px;
        color: #2a254b;
      }

      .ceramics-menu-element-price {
        font-family: "Satoshi-400";
        font-size: 18px;
        line-height: 27px;
        color: #2a254b;
      }
    }
  }

  .ceramics-menu-button {
    text-align: center;
    button {
      border: none;
      background-color: #f9f9f9;
      color: #2a254b;
      font-family: "Satoshi-400";
      font-size: 16px;
      line-height: 24px;
      padding: 16px 32px;
    }
  }
}

.popular-producsts-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 48px;

  .popular-producsts-menu-title {
    margin-bottom: 25px;
    font-family: "Clash-Display-400";
    font-size: 32px;
    line-height: 44.8px;
    color: #2a254b;
  }

  .popular-products-menu-elements {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 35px;

    .popular-products-menu-element {
      margin-right: 20px;

      img {
        margin-bottom: 24px;
      }

      .popular-products-menu-element-name {
        margin-bottom: 8px;
        font-family: "Clash-Display-400";
        font-size: 20px;
        line-height: 28px;
        color: #2a254b;
      }

      .popular-products-menu-element-price {
        font-family: "Satoshi-400";
        font-size: 18px;
        line-height: 27px;
        color: #2a254b;
      }
    }
  }

  .popular-producsts-menu-button {
    text-align: center;
    button {
      border: none;
      background-color: #f9f9f9;
      color: #2a254b;
      font-family: "Satoshi-400";
      font-size: 16px;
      line-height: 24px;
      padding: 16px 32px;
    }
  }
}

.registration-menu-wrapper {
  background-color: #f9f9f9;
  padding: 52px 0 65px 0;

  .registration-menu-inner {
    background-color: #ffffff;
    padding: 68px 0 64px 0;
    width: 1280px;
    margin: 0 auto;

    .registration-menu-text {
      width: 570px;
      margin: 0 auto;
      .registration-menu-title {
        text-align: center;
        margin-bottom: 16px;
        color: #2a254b;
        font-family: "Clash-Display-400";
        font-size: 36px;
        line-height: 50.4px;
      }

      .registration-menu-description {
        width: 470px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 72px;
        color: #2a254b;
        font-family: "Satoshi-400";
        font-size: 16px;
        line-height: 24px;
      }
    }

    .registration-menu-form {
      display: flex;
      justify-content: center;
      input {
        width: 354px;
        display: inline-block;
        padding: 16px 32px;
        background-color: #f9f9f9;
        color: #2a254b;
        border: none;
      }

      button {
        display: inline-block;
        padding: 16px 32px;
        background-color: #2a254b;
        color: white;
        border: none;
        font-family: "Satoshi-400";
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.features-menu {
  display: flex;
  justify-content: center;
  .features-menu-text {
    width: 536px;
    padding: 72px 0 54px 0;
    margin-right: 100px;

    .features-menu-text-title {
      font-family: "Clash-Display-400";
      font-size: 24px;
      line-height: 33.6px;
      color: #2a254b;
      margin-bottom: 25px;
    }

    .features-menu-text-desc {
      span {
        display: block;
        color: transparent;
      }

      font-family: "Satoshi-400";
      font-size: 16px;
      line-height: 21.6px;
      color: #505977;
      margin-bottom: 196px;
    }

    button {
      border: none;
      background-color: #f9f9f9;
      color: #2a254b;
      font-family: "Satoshi-400";
      font-size: 16px;
      line-height: 24px;
      padding: 16px 32px;
    }
  }
}

.bot-menu-wrapper {
  background-color: #2a254b;
  padding: 58px 0 25px 0;

  .bot-menu-inner {
    width: 1280px;
    margin: 0 auto;

    .bot-menu-navigation {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: white;
        font-family: "Clash-Display-400";
        font-size: 16px;
        line-height: 19.68px;

        li {
          margin-bottom: 12px;

          &:first-child {
            margin-top: 12px;
          }

          a {
            text-decoration: none;
            color: white;
            font-family: "Satoshi-400";
            font-size: 14px;
            line-height: 18.9px;
          }
        }
      }

      .bot-menu-navigation-form-title {
        font-family: "Clash-Display-400";
        font-size: 16px;
        line-height: 19.68px;
        color: white;
        margin-bottom: 16px;
      }

      .bot-menu-navigation-form-input-button {
        display: flex;
        input {
          width: 509px;
          padding: 16px 32px;
          background-color: #ffffff26;
          color: #ffffff;
          border: none;
        }

        button {
          padding: 16px 32px;
          background-color: #ffffff;
          color: #2a254b;
          border: none;
          font-family: "Satoshi-400";
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .bot-menu-medias {
      border-top: 1px solid #4e4d93;
      padding-top: 24px;
      display: flex;
      justify-content: space-between;

      .bot-menu-medias-copyright {
        font-family: "Satoshi-400";
        font-size: 14px;
        line-height: 18.9px;
        color: white;
      }

      .bot-menu-medias-elements {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .bot-menu-medias-element {
          margin-right: 27px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
