* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash-Display-400";
  src: url(Fonts/ClashDisplay-Regular.woff2);
}
@font-face {
  font-family: "Satoshi-400";
  src: url(Fonts/Satoshi-Regular.woff2);
}
.top-menu-wrapper {
  width: 1386px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.top-menu-wrapper .top-menu-introducion {
  display: flex;
  justify-content: space-between;
  padding: 20px 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.top-menu-wrapper .top-menu-introducion a {
  padding: 7px 0;
}
.top-menu-wrapper .top-menu-introducion .top-menu-introducion-logo {
  font-family: "Clash-Display-400";
  color: #22202e;
  font-size: 24px;
  line-height: 29.52px;
}
.top-menu-wrapper .top-menu-introducion .top-menu-introducion-right-side a {
  margin-right: 17px;
}
.top-menu-wrapper .top-menu-introducion .top-menu-introducion-right-side a:last-child {
  margin-right: 0;
}
.top-menu-wrapper .top-menu-navigation {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.top-menu-wrapper .top-menu-navigation .top-menu-navigation-elements {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-menu-wrapper .top-menu-navigation .top-menu-navigation-elements .top-menu-navigation-element {
  margin-right: 44px;
}
.top-menu-wrapper .top-menu-navigation .top-menu-navigation-elements .top-menu-navigation-element a {
  font-family: "Satoshi-400";
  color: #726e8d;
  font-size: 16px;
  line-height: 21.6px;
  text-decoration: none;
}
.top-menu-wrapper .top-menu-navigation .top-menu-navigation-elements .top-menu-navigation-element:last-child {
  margin-right: 0;
}

.recomendation-menu-wrapper {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 120px;
}
.recomendation-menu-wrapper .recomendation-menu-info {
  background-color: #2a254b;
  padding: 60px;
  width: 760px;
}
.recomendation-menu-wrapper .recomendation-menu-info .recomendation-menu-name-button {
  margin-bottom: 196px;
}
.recomendation-menu-wrapper .recomendation-menu-info .recomendation-menu-name-button .recomendation-menu-name {
  max-width: 513px;
  margin-bottom: 41px;
  font-family: "Clash-Display-400";
  font-size: 32px;
  line-height: 44.8px;
  color: white;
}
.recomendation-menu-wrapper .recomendation-menu-info .recomendation-menu-name-button .recomendation-menu-button {
  background-color: rgba(249, 249, 249, 0.1490196078);
  color: white;
  padding: 16px 32px;
  border: none;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
}
.recomendation-menu-wrapper .recomendation-menu-info .recomendation-menu-description {
  font-family: "Satoshi-400";
  font-size: 18px;
  line-height: 27px;
  color: white;
  max-width: 602px;
}

.company-offers-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 166px;
}
.company-offers-menu .company-offers-menu-title {
  text-align: center;
  font-family: "Clash-Display-400";
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 51px;
}
.company-offers-menu .company-offers-menu-elements {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.company-offers-menu .company-offers-menu-elements .company-offers-menu-element {
  margin-right: 58px;
}
.company-offers-menu .company-offers-menu-elements .company-offers-menu-element:last-child {
  margin-right: 0;
}
.company-offers-menu .company-offers-menu-elements .company-offers-menu-element img {
  margin-bottom: 16px;
}
.company-offers-menu .company-offers-menu-elements .company-offers-menu-element .company-offers-menu-element-title {
  margin-bottom: 8px;
  font-family: "Clash-Display-400";
  font-size: 20px;
  line-height: 28px;
  color: #2a254b;
}
.company-offers-menu .company-offers-menu-elements .company-offers-menu-element .company-offers-menu-element-desc {
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
  color: #2a254b;
}

.ceramics-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.ceramics-menu .ceramics-menu-title {
  margin-bottom: 33px;
  font-family: "Clash-Display-400";
  font-size: 32px;
  line-height: 39.36px;
  color: #2a254b;
}
.ceramics-menu .ceramics-menu-elements {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
}
.ceramics-menu .ceramics-menu-elements .ceramics-menu-element {
  margin-right: 20px;
}
.ceramics-menu .ceramics-menu-elements .ceramics-menu-element img {
  margin-bottom: 24px;
}
.ceramics-menu .ceramics-menu-elements .ceramics-menu-element .ceramics-menu-element-name {
  margin-bottom: 8px;
  font-family: "Clash-Display-400";
  font-size: 20px;
  line-height: 28px;
  color: #2a254b;
}
.ceramics-menu .ceramics-menu-elements .ceramics-menu-element .ceramics-menu-element-price {
  font-family: "Satoshi-400";
  font-size: 18px;
  line-height: 27px;
  color: #2a254b;
}
.ceramics-menu .ceramics-menu-button {
  text-align: center;
}
.ceramics-menu .ceramics-menu-button button {
  border: none;
  background-color: #f9f9f9;
  color: #2a254b;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
}

.popular-producsts-menu {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.popular-producsts-menu .popular-producsts-menu-title {
  margin-bottom: 25px;
  font-family: "Clash-Display-400";
  font-size: 32px;
  line-height: 44.8px;
  color: #2a254b;
}
.popular-producsts-menu .popular-products-menu-elements {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
}
.popular-producsts-menu .popular-products-menu-elements .popular-products-menu-element {
  margin-right: 20px;
}
.popular-producsts-menu .popular-products-menu-elements .popular-products-menu-element img {
  margin-bottom: 24px;
}
.popular-producsts-menu .popular-products-menu-elements .popular-products-menu-element .popular-products-menu-element-name {
  margin-bottom: 8px;
  font-family: "Clash-Display-400";
  font-size: 20px;
  line-height: 28px;
  color: #2a254b;
}
.popular-producsts-menu .popular-products-menu-elements .popular-products-menu-element .popular-products-menu-element-price {
  font-family: "Satoshi-400";
  font-size: 18px;
  line-height: 27px;
  color: #2a254b;
}
.popular-producsts-menu .popular-producsts-menu-button {
  text-align: center;
}
.popular-producsts-menu .popular-producsts-menu-button button {
  border: none;
  background-color: #f9f9f9;
  color: #2a254b;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
}

.registration-menu-wrapper {
  background-color: #f9f9f9;
  padding: 52px 0 65px 0;
}
.registration-menu-wrapper .registration-menu-inner {
  background-color: #ffffff;
  padding: 68px 0 64px 0;
  width: 1280px;
  margin: 0 auto;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-text {
  width: 570px;
  margin: 0 auto;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-text .registration-menu-title {
  text-align: center;
  margin-bottom: 16px;
  color: #2a254b;
  font-family: "Clash-Display-400";
  font-size: 36px;
  line-height: 50.4px;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-text .registration-menu-description {
  width: 470px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
  color: #2a254b;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-form {
  display: flex;
  justify-content: center;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-form input {
  width: 354px;
  display: inline-block;
  padding: 16px 32px;
  background-color: #f9f9f9;
  color: #2a254b;
  border: none;
}
.registration-menu-wrapper .registration-menu-inner .registration-menu-form button {
  display: inline-block;
  padding: 16px 32px;
  background-color: #2a254b;
  color: white;
  border: none;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
}

.features-menu {
  display: flex;
  justify-content: center;
}
.features-menu .features-menu-text {
  width: 536px;
  padding: 72px 0 54px 0;
  margin-right: 100px;
}
.features-menu .features-menu-text .features-menu-text-title {
  font-family: "Clash-Display-400";
  font-size: 24px;
  line-height: 33.6px;
  color: #2a254b;
  margin-bottom: 25px;
}
.features-menu .features-menu-text .features-menu-text-desc {
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 21.6px;
  color: #505977;
  margin-bottom: 196px;
}
.features-menu .features-menu-text .features-menu-text-desc span {
  display: block;
  color: transparent;
}
.features-menu .features-menu-text button {
  border: none;
  background-color: #f9f9f9;
  color: #2a254b;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
}

.bot-menu-wrapper {
  background-color: #2a254b;
  padding: 58px 0 25px 0;
}
.bot-menu-wrapper .bot-menu-inner {
  width: 1280px;
  margin: 0 auto;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Clash-Display-400";
  font-size: 16px;
  line-height: 19.68px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation ul li {
  margin-bottom: 12px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation ul li:first-child {
  margin-top: 12px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation ul li a {
  text-decoration: none;
  color: white;
  font-family: "Satoshi-400";
  font-size: 14px;
  line-height: 18.9px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation .bot-menu-navigation-form-title {
  font-family: "Clash-Display-400";
  font-size: 16px;
  line-height: 19.68px;
  color: white;
  margin-bottom: 16px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation .bot-menu-navigation-form-input-button {
  display: flex;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation .bot-menu-navigation-form-input-button input {
  width: 509px;
  padding: 16px 32px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  color: #ffffff;
  border: none;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-navigation .bot-menu-navigation-form-input-button button {
  padding: 16px 32px;
  background-color: #ffffff;
  color: #2a254b;
  border: none;
  font-family: "Satoshi-400";
  font-size: 16px;
  line-height: 24px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-medias {
  border-top: 1px solid #4e4d93;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-medias .bot-menu-medias-copyright {
  font-family: "Satoshi-400";
  font-size: 14px;
  line-height: 18.9px;
  color: white;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-medias .bot-menu-medias-elements {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-medias .bot-menu-medias-elements .bot-menu-medias-element {
  margin-right: 27px;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-medias .bot-menu-medias-elements .bot-menu-medias-element:last-child {
  margin-right: 0;
}/*# sourceMappingURL=index.css.map */