* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik-400";
  src: url(Fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik-500";
  src: url(Fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Mulish-600";
  src: url(Fonts/Mulish-SemiBold.ttf);
}
@font-face {
  font-family: "Mulish-700";
  src: url(Fonts/Mulish-Bold.ttf);
}
@font-face {
  font-family: "Mulish-800";
  src: url(Fonts/Mulish-ExtraBold.ttf);
}
@font-face {
  font-family: "DMSans-400";
  src: url(Fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: "DMSans-500";
  src: url(Fonts/DMSans-Medium.ttf);
}
body {
  margin: 0;
  padding: 0;
}

.top-menu-wrapper {
  background-color: #7ac751;
  padding: 16px 0 15px 0;
}
.top-menu-wrapper .top-menu-inner {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
}
.top-menu-wrapper .top-menu-inner .top-menu-left-bar {
  font-family: "Rubik-400";
  font-size: 16px;
  line-height: 18.96px;
}
.top-menu-wrapper .top-menu-inner .top-menu-right-bar {
  display: flex;
}
.top-menu-wrapper .top-menu-inner .top-menu-right-bar .top-menu-right-currency {
  font-family: "Rubik-400";
  font-size: 16px;
  line-height: 18.96px;
  margin-right: 20px;
  padding-right: 40px;
  border-right: 2.2px solid white;
  background-image: url(TopMenu/Top-Menu-Icon.svg);
  background-repeat: no-repeat;
  background-position: 109px;
}
.top-menu-wrapper .top-menu-inner .top-menu-right-bar .top-menu-right-reg {
  font-family: "Rubik-400";
  font-size: 16px;
  line-height: 18.96px;
}

.main-menu-inner {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  padding: 21px 0 25px 0;
}
.main-menu-inner .main-menu-logo {
  font-family: "Rubik-500";
  font-size: 24px;
  line-height: 28.44px;
  color: #555555;
  padding: 9px 0 9px 37px;
  margin-right: 120px;
  background-image: url(MainMenu/Logo.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.main-menu-inner form {
  display: flex;
  border: 2px solid #7ac751;
  border-radius: 8px;
  margin-right: 200px;
}
.main-menu-inner form input {
  width: 400px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 13px 23px 12px 23px;
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 16.59px;
}
.main-menu-inner form .main-menu-search-cat {
  border: none;
  border-left: 1.5px solid rgba(227, 227, 227, 0.7803921569);
  padding: 13px 42px 12px 10px;
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 16.59px;
  color: #555555;
  background-image: url(MainMenu/Categories-Icon.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
}
.main-menu-inner form .search-btn {
  border: none;
  background-color: #7ac751;
  padding: 13px 18px 12px 20px;
}
.main-menu-inner .main-menu-panels {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding-bottom: 11px;
  padding-top: 11px;
}
.main-menu-inner .main-menu-panels li {
  margin-right: 21px;
  height: 24px;
  font-size: 0;
}
.main-menu-inner .main-menu-panels li a {
  display: inline-block;
}
.main-menu-inner .main-menu-panels li:last-child {
  margin-right: 0;
}

.top-nav-menu-wrapper {
  background-color: #f7f8fa;
  margin-bottom: 12px;
}
.top-nav-menu-wrapper .top-nav-menu-inner {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.top-nav-menu-wrapper .top-nav-menu-inner .top-nav-menu-elements {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin: 0 auto;
}
.top-nav-menu-wrapper .top-nav-menu-inner .top-nav-menu-elements .top-nav-menu-element {
  margin-right: 65px;
  padding: 25px 0;
}
.top-nav-menu-wrapper .top-nav-menu-inner .top-nav-menu-elements .top-nav-menu-element:last-child {
  margin-right: 0;
}
.top-nav-menu-wrapper .top-nav-menu-inner .top-nav-menu-elements .top-nav-menu-element a {
  display: block;
  text-decoration: none;
  color: #555555;
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 16.59px;
}

.bot-nav-menu-inner {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 65px;
}
.bot-nav-menu-inner .bot-nav-menu-left {
  width: 260px;
  margin-top: -79px;
  margin-right: 11px;
}
.bot-nav-menu-inner .bot-nav-menu-left .bot-nav-menu-left-button {
  background-image: url(BotNavigationMenu/Burger-Icon.svg);
  background-repeat: no-repeat;
  background-color: #7ac751;
  background-position: 30px;
  color: white;
  padding: 25px 40px 23px 74px;
  font-family: "Rubik-500";
  font-size: 16px;
  line-height: 18.96px;
}
.bot-nav-menu-inner .bot-nav-menu-left .bot-nav-menu-left-elements {
  background-color: #f7f8fa;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bot-nav-menu-inner .bot-nav-menu-left .bot-nav-menu-left-elements .bot-nav-menu-left-element {
  padding: 10px 29px 14px 29px;
  border-bottom: 0.8px solid #e3e3e3;
}
.bot-nav-menu-inner .bot-nav-menu-left .bot-nav-menu-left-elements .bot-nav-menu-left-element:last-child {
  border-bottom: none;
}
.bot-nav-menu-inner .bot-nav-menu-left .bot-nav-menu-left-elements .bot-nav-menu-left-element a {
  display: block;
  text-decoration: none;
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 16.59px;
  color: #555555;
}
.bot-nav-menu-inner .bot-nav-menu-right {
  position: relative;
  max-width: 899px;
  max-height: 439px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-content {
  position: absolute;
  max-width: 324px;
  top: 73px;
  left: 47px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-content .bot-nav-menu-right-content-title {
  color: #7ac751;
  font-family: "Rubik-400";
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 6px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-content .bot-nav-menu-right-content-desc1 {
  color: #2f2f2f;
  font-family: "Rubik-500";
  font-size: 40px;
  line-height: 47.4px;
  margin-bottom: 27px;
  background-image: url(BotNavigationMenu/Text-bg.png);
  background-repeat: no-repeat;
  background-position: bottom 2px right 4px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-content .bot-nav-menu-right-content-desc2 {
  color: rgba(81, 81, 81, 0.7098039216);
  font-family: "Mulish-600";
  font-size: 27px;
  line-height: 26px;
  margin-bottom: 35px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-content .bot-nav-menu-right-content-btn {
  background-color: #7ac751;
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  font-family: "Mulish-700";
  font-size: 16px;
  line-height: 20.08px;
  color: white;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-chairs {
  position: absolute;
  top: 58px;
  right: 39px;
  display: flex;
  flex-direction: column;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-chairs img {
  margin-bottom: 23.53px;
}
.bot-nav-menu-inner .bot-nav-menu-right .bot-nav-menu-right-slider {
  position: absolute;
  bottom: 20px;
  right: 394px;
}

.offers-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.offers-menu .offers-menu-elements {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.offers-menu .offers-menu-elements .offers-menu-element {
  padding: 3px 0 3px 73px;
}
.offers-menu .offers-menu-elements .offers-menu-element .offers-menu-text1 {
  font-family: "Rubik-500";
  font-size: 20px;
  line-height: 26px;
  color: #555555;
}
.offers-menu .offers-menu-elements .offers-menu-element .offers-menu-text2 {
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.7098039216);
}
.offers-menu .offers-menu-elements .element1 {
  background-image: url(OffersMenu/Free-Delivery.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.offers-menu .offers-menu-elements .element2 {
  background-image: url(OffersMenu/Gift.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.offers-menu .offers-menu-elements .element3 {
  background-image: url(OffersMenu/Wallet.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.offers-menu .offers-menu-elements .element4 {
  background-image: url(OffersMenu/Support.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.collections-menu {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 120px;
}
.collections-menu .collections-menu-left {
  position: relative;
  margin-right: 15px;
}
.collections-menu .collections-menu-left .collections-menu-left-content {
  position: absolute;
  top: 49px;
  left: 31px;
}
.collections-menu .collections-menu-left .collections-menu-left-content .collections-menu-left-content-name {
  font-family: "Mulish-700";
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  margin-bottom: 10px;
}
.collections-menu .collections-menu-left .collections-menu-left-content .collections-menu-left-content-price {
  font-family: "Mulish-400";
  font-size: 20px;
  line-height: 26px;
  color: #7ac751;
  margin-bottom: 13px;
}
.collections-menu .collections-menu-left .collections-menu-left-content .collections-menu-left-content-price span {
  font-family: "Mulish-800";
}
.collections-menu .collections-menu-left .collections-menu-left-content .collections-menu-left-content-more {
  display: inline-block;
  padding-right: 14px;
  font-family: "Mulish-400";
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  background-image: url(CollectionsMenu/Collections-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.collections-menu .collections-menu-right .collections-menu-right-el1 {
  position: relative;
  margin-bottom: 17px;
}
.collections-menu .collections-menu-right .collections-menu-right-el1 .collections-menu-right-content {
  position: absolute;
  top: 52px;
  left: 24.04px;
}
.collections-menu .collections-menu-right .collections-menu-right-el1 .collections-menu-right-content .collections-menu-right-content-name {
  font-family: "Mulish-600";
  font-size: 22px;
  line-height: 27.61px;
  color: #555555;
  margin-bottom: 8px;
}
.collections-menu .collections-menu-right .collections-menu-right-el1 .collections-menu-right-content .collections-menu-right-content-price {
  font-family: "Mulish-600";
  font-size: 20px;
  line-height: 26px;
  color: #7ac751;
  margin-bottom: 9px;
}
.collections-menu .collections-menu-right .collections-menu-right-el1 .collections-menu-right-content .collections-menu-right-content-more {
  display: inline-block;
  padding-right: 14px;
  font-family: "Mulish-400";
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  background-image: url(CollectionsMenu/Collections-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.collections-menu .collections-menu-right .collections-menu-right-el2 {
  position: relative;
  margin-bottom: 17px;
}
.collections-menu .collections-menu-right .collections-menu-right-el2 .collections-menu-right-content {
  position: absolute;
  top: 37px;
  left: 24.09px;
}
.collections-menu .collections-menu-right .collections-menu-right-el2 .collections-menu-right-content .collections-menu-right-content-name {
  font-family: "Mulish-600";
  font-size: 22px;
  line-height: 27.61px;
  color: #555555;
  margin-bottom: 8px;
}
.collections-menu .collections-menu-right .collections-menu-right-el2 .collections-menu-right-content .collections-menu-right-content-price {
  font-family: "Mulish-600";
  font-size: 20px;
  line-height: 26px;
  color: #7ac751;
  margin-bottom: 9px;
}
.collections-menu .collections-menu-right .collections-menu-right-el2 .collections-menu-right-content .collections-menu-right-content-more {
  display: inline-block;
  padding-right: 14px;
  font-family: "Mulish-400";
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  background-image: url(CollectionsMenu/Collections-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.trending-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 99px;
}
.trending-menu .trending-menu-name {
  font-family: "Mulish-700";
  font-size: 36px;
  line-height: 45.18px;
  color: #555555;
  text-align: center;
  margin-bottom: 45px;
}
.trending-menu .trending-menu-sections {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
.trending-menu .trending-menu-sections .trending-menu-section {
  margin-right: 70px;
  margin-bottom: 73px;
}
.trending-menu .trending-menu-sections .trending-menu-section .trending-menu-section-btn {
  border: none;
  background-color: transparent;
  font-family: "Mulish-600";
  font-size: 24px;
  line-height: 30.12px;
  color: #c2c2c2;
}
.trending-menu .trending-menu-sections .trending-menu-section .trending-menu-section-btn:hover {
  color: #7ac751;
}
.trending-menu .trending-menu-sections .trending-menu-section:last-child {
  margin-right: 0;
}
.trending-menu .trending-menu-elements {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.trending-menu .trending-menu-elements .trending-menu-element {
  position: relative;
  margin-right: 30px;
  margin-bottom: 45px;
}
.trending-menu .trending-menu-elements .trending-menu-element:hover .trending-menu-panels {
  opacity: 1;
}
.trending-menu .trending-menu-elements .trending-menu-element:nth-child(4n) {
  margin-right: 0;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-img {
  margin-bottom: 15.18px;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-type {
  font-family: "Mulish-400";
  font-size: 14px;
  line-height: 18.2px;
  color: rgba(117, 117, 117, 0.7098039216);
  margin-bottom: 9px;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-name {
  font-family: "Rubik-400";
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 8px;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-price-rate {
  display: flex;
  justify-content: space-between;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-price-rate .trending-menu-element-price {
  display: flex;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-price-rate .trending-menu-element-price .trending-menu-element-price-new {
  font-family: "Mulish-700";
  font-size: 18px;
  line-height: 21.6px;
  color: #7ac751;
  margin-right: 7px;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-price-rate .trending-menu-element-price .trending-menu-element-price-old {
  font-family: "Mulish-600";
  font-size: 18px;
  line-height: 21.6px;
  color: #cccccc;
  margin-right: 7px;
  text-decoration: line-through;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-new-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 0.97px 8.52px 2.25px 8.74px;
  border-bottom-right-radius: 5px;
  background-color: #00b7f1;
  color: white;
  top: 0;
  left: 0;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-element-sale-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 0.97px 8.52px 2.25px 8.74px;
  border-bottom-right-radius: 5px;
  background-color: #7ac751;
  color: white;
  top: 0;
  left: 0;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-panels {
  position: absolute;
  top: 91.4px;
  right: 6.8px;
  opacity: 0;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-panels .trending-menu-panels-elements {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-panels .trending-menu-panels-elements .trending-menu-panels-element {
  margin-bottom: 8.75px;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-panels .trending-menu-panels-elements .trending-menu-panels-element:last-child {
  margin-bottom: 0;
}
.trending-menu .trending-menu-elements .trending-menu-element .trending-menu-panels .trending-menu-panels-elements .trending-menu-panels-element button {
  padding: 0;
  border: none;
  background-color: white;
  width: 38.85px;
  height: 38.89px;
  border-radius: 50%;
}
.trending-menu .trending-menu-pages {
  display: flex;
  justify-content: center;
}
.trending-menu .trending-menu-pages button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 14px;
}
.trending-menu .trending-menu-pages button img + img {
  display: none;
}
.trending-menu .trending-menu-pages button:hover img {
  display: none;
}
.trending-menu .trending-menu-pages button:hover img + img {
  display: block;
}

.special-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.special-menu .special-menu-title {
  text-align: center;
  font-family: "Mulish-700";
  font-size: 36px;
  line-height: 45.18px;
  color: #555555;
  margin-bottom: 60px;
}
.special-menu .special-menu-elements {
  display: flex;
}
.special-menu .special-menu-elements .special-menu-element {
  margin-right: 30px;
  position: relative;
}
.special-menu .special-menu-elements .special-menu-element:last-child {
  margin-right: 0;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content {
  position: absolute;
  top: 28px;
  left: 24px;
  max-width: 227px;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-title {
  font-family: "Mulish-600";
  font-size: 22px;
  line-height: 27.61px;
  color: #555555;
  margin-bottom: 11px;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-text {
  font-family: "Mulish-400";
  font-size: 12px;
  line-height: 18px;
  color: #757575;
  margin-bottom: 20px;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-price-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-price-btn .special-menu-element-content-price {
  display: flex;
  align-items: center;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-price-btn .special-menu-element-content-price .special-menu-element-content-price-new {
  font-family: "Mulish-700";
  font-size: 18px;
  line-height: 21.6px;
  color: #7ac751;
  margin-right: 7px;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-price-btn .special-menu-element-content-price .special-menu-element-content-price-old {
  font-family: "Mulish-600";
  font-size: 18px;
  line-height: 21.6px;
  color: #cccccc;
  padding-top: 2px;
  text-decoration: line-through;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-content .special-menu-element-content-price-btn button {
  border: none;
  border-radius: 2px;
  padding: 7px 10px 6px 10px;
  font-family: "Mulish-700";
  font-size: 12px;
  line-height: 15.06px;
  color: #ffffff;
  background-color: #7ac751;
}
.special-menu .special-menu-elements .special-menu-element .special-menu-element-off-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 5px 7.48px 4.2px 8px;
  border-bottom-left-radius: 5px;
  background-color: #00b7f1;
  color: white;
  top: 0;
  right: 0;
}

.products-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.products-menu .products-menu-name {
  font-family: "Mulish-700";
  font-size: 36px;
  line-height: 45.18px;
  color: #555555;
  text-align: center;
  margin-bottom: 45px;
}
.products-menu .products-menu-sections {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}
.products-menu .products-menu-sections .products-menu-section {
  margin-right: 66px;
  margin-bottom: 73px;
}
.products-menu .products-menu-sections .products-menu-section .products-menu-section-btn {
  border: none;
  background-color: transparent;
  font-family: "Mulish-600";
  font-size: 24px;
  line-height: 30.12px;
  color: #c2c2c2;
}
.products-menu .products-menu-sections .products-menu-section .products-menu-section-btn:hover {
  color: #7ac751;
}
.products-menu .products-menu-sections .products-menu-section:last-child {
  margin-right: 0;
}
.products-menu .products-menu-elements {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.products-menu .products-menu-elements .products-menu-element {
  position: relative;
  margin-right: 30px;
  margin-bottom: 45px;
}
.products-menu .products-menu-elements .products-menu-element:hover .products-menu-panels {
  opacity: 1;
}
.products-menu .products-menu-elements .products-menu-element:nth-child(4n) {
  margin-right: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-img {
  margin-bottom: 15.18px;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-type {
  font-family: "Mulish-400";
  font-size: 14px;
  line-height: 18.2px;
  color: rgba(117, 117, 117, 0.7098039216);
  margin-bottom: 9px;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-name {
  font-family: "Rubik-400";
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 8px;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-price-rate {
  display: flex;
  justify-content: space-between;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-price-rate .products-menu-element-price {
  display: flex;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-price-rate .products-menu-element-price .products-menu-element-price-new {
  font-family: "Mulish-700";
  font-size: 18px;
  line-height: 21.6px;
  color: #7ac751;
  margin-right: 7px;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-price-rate .products-menu-element-price .products-menu-element-price-old {
  font-family: "Mulish-600";
  font-size: 18px;
  line-height: 21.6px;
  color: #cccccc;
  text-decoration: line-through;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-new-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 0.97px 8.52px 2.25px 8.74px;
  border-bottom-right-radius: 5px;
  background-color: #00b7f1;
  color: white;
  top: 0;
  left: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-sale-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 0.97px 8.52px 2.25px 8.74px;
  border-bottom-right-radius: 5px;
  background-color: #7ac751;
  color: white;
  top: 0;
  left: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-element-off-icon {
  position: absolute;
  font-family: "Mulish-600";
  font-size: 12px;
  line-height: 15.6px;
  padding: 0.97px 8.52px 2.25px 8.74px;
  border-bottom-right-radius: 5px;
  background-color: #ff6868;
  color: white;
  top: 0;
  left: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-panels {
  position: absolute;
  top: 91.4px;
  right: 6.8px;
  opacity: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-panels .products-menu-panels-elements {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-panels .products-menu-panels-elements .products-menu-panels-element {
  margin-bottom: 8.75px;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-panels .products-menu-panels-elements .products-menu-panels-element:last-child {
  margin-bottom: 0;
}
.products-menu .products-menu-elements .products-menu-element .products-menu-panels .products-menu-panels-elements .products-menu-panels-element button {
  padding: 0;
  border: none;
  background-color: white;
  width: 38.85px;
  height: 38.89px;
  border-radius: 50%;
}
.products-menu .products-menu-pages {
  display: flex;
  justify-content: end;
}
.products-menu .products-menu-pages .products-menu-next-page {
  border: none;
  border-radius: 2px;
  background-color: #7ac751;
  color: white;
  font-family: "Mulish-600";
  font-size: 18px;
  line-height: 22.59px;
  padding: 12px 53px 14px 20px;
  background-image: url(ProductsMenu/Products-page-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 29px center;
  margin-right: 143px;
}
.products-menu .products-menu-pages form {
  display: flex;
  align-items: center;
}
.products-menu .products-menu-pages form .products-menu-label1 {
  font-family: "Mulish-400";
  font-size: 18px;
  line-height: 23.04px;
  color: #757575;
  margin-right: 9px;
}
.products-menu .products-menu-pages form .products-menu-page-input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #f8fafb;
  width: 58px;
  height: 29px;
  padding-top: 7px;
  padding-bottom: 6px;
  margin-right: 19px;
}
.products-menu .products-menu-pages form .products-menu-label2 {
  font-family: "Mulish-400";
  font-size: 18px;
  line-height: 23.04px;
  color: #757575;
  margin-right: 23px;
}
.products-menu .products-menu-pages form .products-menu-btns {
  border-radius: 2px;
  height: 29px;
  padding: 2px 5px 3px 5px;
  background-color: #7ac751;
}
.products-menu .products-menu-pages form .products-menu-btns .products-menu-previous {
  padding: 6.42px 9.14px 6.48px 8.36px;
  border: none;
  background-color: #7ac751;
  width: 24px;
  height: 24px;
  background-image: url(ProductsMenu/Products-page-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.products-menu .products-menu-pages form .products-menu-btns .products-menu-next {
  padding: 6.42px 9.14px 6.48px 8.36px;
  border: none;
  background-color: #7ac751;
  width: 24px;
  height: 24px;
  background-image: url(ProductsMenu/Products-page-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-menu {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 172px;
  text-align: center;
  margin-bottom: 115px;
}
.feedback-menu .feedback-menu-title {
  font-family: "Mulish-700";
  font-size: 36px;
  line-height: 45.18px;
  color: #555555;
  margin-bottom: 90px;
}
.feedback-menu .feedback-menu-wrapper {
  padding: 80px 125px 47px 125px;
  position: relative;
  border-radius: 8px;
  background: #f8fafb;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-author-image {
  position: absolute;
  top: -44px;
  left: 50%;
  margin-left: -44px;
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-author-image img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-author-text {
  font-family: "DMSans-400";
  font-size: 16px;
  line-height: 24px;
  color: #515151;
  margin-bottom: 32px;
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-author-name {
  font-family: "Mulish-600";
  font-size: 24px;
  line-height: 28.8px;
  color: #555555;
  margin-bottom: 8px;
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-author-position {
  font-family: "Rubik-400";
  font-size: 16px;
  line-height: 20px;
  color: #515151;
  margin-bottom: 8px;
}
.feedback-menu .feedback-menu-wrapper .feedback-menu-arrow {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  top: 50%;
  height: 38px;
  width: 24px;
  margin-top: -19px;
  background: url(FeedbackMenu/feedback-arrow-left.svg);
  background-repeat: no-repeat;
}
.feedback-menu .feedback-menu-wrapper .arrow-left {
  left: -56.2px;
}
.feedback-menu .feedback-menu-wrapper .arrow-right {
  right: -64.2px;
  transform: rotate(180deg);
}

.articles-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 115px;
}
.articles-menu .articles-menu-title {
  text-align: center;
  font-family: "Mulish-700";
  font-size: 36px;
  line-height: 45.18px;
  color: #555555;
  margin-bottom: 56.66px;
}
.articles-menu .articles-menu-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.articles-menu .articles-menu-elements .articles-menu-element {
  position: relative;
  margin-right: 26.25px;
  margin-bottom: 22px;
}
.articles-menu .articles-menu-elements .articles-menu-element:nth-child(2n) {
  margin-right: 0;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content {
  position: absolute;
  width: 490.1px;
  bottom: 30.35px;
  left: 44.04px;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content .articles-menu-element-date-tag {
  display: flex;
  margin-bottom: 20.6px;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content .articles-menu-element-date-tag .articles-menu-element-tag {
  background-color: #f8fafb;
  background-image: url(ArticlesMenu/articles-tag.svg);
  background-repeat: no-repeat;
  background-position: left 4px center;
  font-family: "DMSans-500";
  font-size: 12px;
  line-height: 15.6px;
  color: #7ac751;
  padding: 6.99px 5.94px 3px 23.7px;
  border-radius: 5px;
  margin-right: 4.93px;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content .articles-menu-element-date-tag .articles-menu-element-date {
  font-family: "Mulish-400";
  font-size: 14px;
  line-height: 18.2px;
  color: #ffffff;
  align-items: center;
  padding-top: 3px;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content .articles-menu-element-text {
  font-family: "Mulish-700";
  font-size: 39px;
  line-height: 46.8px;
  color: white;
  margin-bottom: 37.94px;
}
.articles-menu .articles-menu-elements .articles-menu-element .articles-menu-element-content a {
  text-decoration: none;
  font-family: "DMSans-500";
  font-size: 14px;
  line-height: 18.2px;
  color: white;
}

.links-menu {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.links-menu .links-menu-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.links-menu .links-menu-categories .links-menu-categorie {
  margin-right: 180px;
}
.links-menu .links-menu-categories .links-menu-categorie:first-child {
  margin-right: 83px;
}
.links-menu .links-menu-categories .links-menu-categorie:last-child {
  margin-right: 0;
}
.links-menu .links-menu-categories .links-menu-categorie .links-menu-logo {
  font-family: "Rubik-500";
  font-size: 24px;
  line-height: 28.44px;
  color: #555555;
  padding: 9px 0 9px 37px;
  margin-right: 120px;
  background-image: url(LinksMenu/Logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 18px;
}
.links-menu .links-menu-categories .links-menu-categorie .links-menu-logo-desc {
  max-width: 318px;
  font-family: "Rubik-400";
  font-size: 16px;
  line-height: 32px;
  color: #555555;
  margin-bottom: 8px;
}
.links-menu .links-menu-categories .links-menu-categorie .links-menu-elements {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links-menu .links-menu-categories .links-menu-categorie .links-menu-elements .links-menu-element {
  font-family: "Rubik-400";
  font-size: 18px;
  line-height: 40px;
  color: #555555;
}
.links-menu .links-menu-categories .links-menu-categorie .links-menu-elements .title {
  font-family: "Rubik-500";
  font-size: 18px;
  line-height: 40px;
  color: #555555;
}

.bot-menu-wrapper {
  border-top: 1px solid #969696;
}
.bot-menu-wrapper .bot-menu-inner {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 33px 0 34.73px 0;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-desc {
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-elements {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bot-menu-wrapper .bot-menu-inner .bot-menu-elements .bot-menu-element {
  margin-right: 51px;
  font-family: "Rubik-400";
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}/*# sourceMappingURL=index.css.map */